@model Twitter.Web.Models.TweetViewModel

<div class="panel panel-default">
    <div class="panel-body">
        <strong>@Model.PostedBy</strong>
        <p>@Model.Content</p>
        <p>@Model.Url</p>
    </div>
</div>

